@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Sitecore().Field("title")</title>
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    <h1>@Html.Sitecore().Field("Title")</h1>
    <div>@Html.Sitecore().Field("Content")</div><br />
    <div>
        @Html.Sitecore().Placeholder("main")
    </div>
    <div>@Html.Sitecore().Placeholder("phTwo")</div>
    <div>@Html.Sitecore().Placeholder("phThree")</div>
</body>
</html>